.qualidade-conteudo {
  margin: 60px auto;
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  font-family: "nunito";
}

.qualidade-item {
  flex: 1 1 260px;
  margin: 20px 10px;
}

.qualidade-item h1 {
  font-size: 2.25rem;
  color: #a4a4a4;
  margin-bottom: 20px;
  padding: 0px;
}

.qualidade-item p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;
}

.qualidade-item h1::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
}

.qualidade-item:nth-of-type(3n + 1) h1::before {
  background: #ae81ff;
}

.qualidade-item:nth-of-type(3n + 2) h1::before {
  background: #F9265E;
}

.qualidade-item:nth-of-type(3n + 3) h1::before {
  background: #66D9EB;
}